.App {
  text-align: center;
}

.App-header{
  margin-top: 5%;
  font-size: 3rem;
}

.Main{
  margin-top: 5%;
}

#Slogan{
  font-size: 50%;
}

button{
  font-weight: bold;
  background-color: lightblue;
  margin-top: 4%;
  padding: .5% 3.2%;
  font-size: 150%;
  border: solid, 3px;
  border-radius: 4px;

}
